
h1 {
    color: white;
    background-color: #242424;
    margin-top: auto;
    margin-bottom: auto;
    height: auto;
    padding: 3rem;
    text-align: center;
}
.channel {
    padding: 0;
    margin-top: auto;
    list-style: none;
    background-color: #242424;
}

a {
    color: white;
    font-size: 35px;
    padding: 3rem;
    margin-left: 20px;
}